* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lightblue
    }

    .topNav {
        height: 38vh;
        /* width: 40vw; */
        display: flex;
        justify-content: center;
        align-items: center;

        /* background-color: aquamarine; */
    }
    .bannerImg {
        /* background-color: blanchedalmond; */
        height: 35vh;
        width: 90vw;
        border: solid lightcoral 8px;
        border-radius: 30px;
    }


    /* Div separator  */
.upperMainBody {
display: flex;
justify-content: space-evenly
/* gap: 50px; */
}
.logoImg {
    height: 20vh;
    border: solid lightcoral 3px;
    border-radius: 20px;
}

.logoBox {
    position: relative;
}


.ribbon {
    position: absolute;
    top: 40px;
    left: -30px;
    background-color: black;
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    z-index: 1;
    border-radius: 10px;
    border: solid lightcoral 3px;
}

.ribbon::before {
    content: '';
    position: absolute;
    right: 0;
    border-style: solid;
    border-radius: 50px;
    border-width: 0 10px 10px 0;
    border-color: transparent black transparent transparent;
}


.imgRotationBox {
    /* background-color: aquamarine; */
    height: 40vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.imageContainer {
    margin-bottom: 10px;
}
#rotatingImage {
    height: 30vh;
    /* width: 10vw; */
    border: solid lightcoral 5px;
    border-radius: 5px;
}
#rotateButton {
    height: 5vh;
    width: 10vw;
    border: solid lightcoral 8px;
    border-radius: 10px;
    transition: background-color 0.3s;
    background-color: white;
}

#rotateButton:hover {
    background-color: whitesmoke;
}


    /* Div separate */

#twitch-embed {
    border: solid lightcoral 8px;
    border-radius: 10px;
    display: flex;
}
